.main {
  @apply p-2;
}

.wizard-grid {
  @apply grid grid-cols-[1fr_2fr];
}

.wizard-addons {
  @apply px-2 border-2  m-3;
}

.wizard-form {
  @apply m-3 border-[2px] p-2;
}

.wizard-title {
  @apply text-[20px] font-[500] text-[#333333] px-2;
}

.interest-tag {
  @apply py-1 px-3 m-1 rounded-full cursor-pointer border-2 bg-[#fff] hover:bg-[#DEF7E0] hover:border-[#BDEFC1] duration-75;
}

.interest-tag-selected {
  @apply py-1 px-3 m-1 rounded-full cursor-pointer border-2 border-[#8CE393] bg-[#BDEFC1] hover:bg-[#f0f0f0] hover:border-[#c0c0c0] duration-75;
}

.wizard-social {
  @apply w-[100px] duration-100 cursor-pointer rounded-full hover:border-4 m-2 shadow hover:border-[#AA7EF1];
}

.primary-button {
  @apply px-3 py-2 text-white duration-100 bg-[#6819E7] rounded hover:bg-[#7D35E9] focus:outline-none;
}

.user-socials {
  @apply border rounded bg-white shadow min-h-[60px] py-[5px] px-3 flex flex-wrap;
}

.user-social {
  @apply rounded-full shadow border-[1px] mx-2 w-[50px] h-[50px] cursor-pointer relative;
}

.user-contact {
  @apply absolute bg-white duration-100 border-2 rounded px-3 py-2 opacity-0 scale-0;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.user-social:hover .user-contact {
  @apply opacity-100 scale-100;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
}
